<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886510659088-9ntjdlmcesaloni35p1jng7lhqfgg8ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886510659088-9ntjdlmcesaloni35p1jng7lhqfgg8ch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>886510659088-mf7g2ms0qnkh90ucqnfmao5ir38ci1oj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfBa7XmtIqgILxyVgr5lFKIBVqfePLeoE</string>
	<key>GCM_SENDER_ID</key>
	<string>886510659088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dryCleaning</string>
	<key>PROJECT_ID</key>
	<string>dry-cleaning-b7a6b</string>
	<key>STORAGE_BUCKET</key>
	<string>dry-cleaning-b7a6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886510659088:ios:2ae34c5eed8262d858cc95</string>
	<key>DATABASE_URL</key>
	<string>https://dry-cleaning-b7a6b-default-rtdb.firebaseio.com</string>
</dict>
</plist>